.MainBlock{
  display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around; 
width: 80%;
padding-top: 15px;
}
.ElementBlock{
display: flex;
justify-content: center;
align-items: center;
height: 50px;
margin: 10px;
}
