.headerFlexParams{
  display: flex;
  width: 100vw;
  min-width: 700px;
  height: 60px;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  padding-left: 10vw;
  padding-right: 10vw;
  
}
.buttonSize{
  width: 150px;
  padding: 10px;
}
