.MainBlock{
  display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between; 
width: 80%;
padding-top: 15px;
}
.ElementBlockUsername{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 50px;
width: 20%;
}
.ElementBlockEmail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 20%;

  }
.ElementBlockTask{
display: flex;
flex-direction: column;
align-items: center;
height: 50px;
width: 40%;

}
.ElementBlockStatus{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 50px;
width: 10%;
}

.ElementBlockStatusChange{
display: flex;
flex-direction: column;
align-items: center;
height: 50px;
width: 10%;
}
.SortButtons{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
}
.SortButtons:hover{
  cursor: pointer;
}

